body {
    margin: 25px;
    background-color: rgb(240, 240, 240);
    font-family: Arial, sans-serif;
    font-size: 14px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

/* Styles for shop gallery */
.shop-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.item-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.item-name {
    text-align: center;
    width: 200px;
    word-wrap: break-word;
    margin: 0 auto;
}

.item-single {
    text-align: center;
    margin-top: 10px;
}
