body {
    margin: 0;
    font-family: sans-serif;
}

header {
    text-align: center; /* Center the logo */
    padding-top: 20px;
    margin-bottom: 20px; /* Add space below logo */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute; /* To position it in the top right */
    top: 0;
    right: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px; /* Space between links */
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.social-bar-container {
    position: relative; /* For absolute positioning of icons */
    margin-top: 150px; /* Adjust to move below header/nav */
    display: flex;
    justify-content: center;
}

.social-bar {
    display: block;
}

.social-icon {
    position: absolute;
    width: 60px;
    height: 60px;
}

.social-icon img {
    display: block;
    width: 100%;
    height: auto;
}